* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.logo img {
    width: 200px;
    height: auto;
}


/* BARRA DE NAVEGACION*/
.navbar {
    background-color: var(--color-secundario);
    /* color de fondo de la barra */
    height: 80px;
    /* altura de la barra */
}

.navbar-toggler {
    border: none;
    /* quitar el borde del botón del menú */
}

.navbar-nav {
    margin-right: 50px;
    /* margen a la derecha de los elementos de la barra */
}

.nav-link {
    color: #fff;
    /* color de texto de los enlaces */
    font-size: 1.2rem;
    /* tamaño de fuente de los enlaces */
    padding: 0 10px;
    /* espaciado interno de los enlaces */
}

.nav-link:hover {
    background-color: var(--color-cuatro);
    /* color de fondo al pasar el mouse por encima */
}

/* FINALIZA ESTILOS NAV BAR */


/* SECCION PRINCIPAL */
main {
    height: calc(100vh - 100px);
    width: 100%;
    background-color: rgb(243, 248, 246);
    background-image: url(imagens/pexels-svetlana-shemetiuk-394887.jpg);
    background-size: cover;
    background-position: center;
}

.slogan {
    width: 45%;
    color: antiquewhite;
    border: none;
    float: left;
    margin: 30px;
    padding: 20px;

}

.slogan p {
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
}



h2 {
    text-align: center;
    background-color: var(--color-primario);
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
    padding: 30px;
}

h3 {
    text-align: center;
    background-color: var(--color-secundario);
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
    padding: 30px;
}

h4 {
    text-align: center;
    background-color: var(--color-terciario);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
    padding: 30px;
}

/* FINALIZA SECCION PRINCIPAL */

/* INICIAN CARDS HOME */

.marcas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    .col {
        flex: 0 0 calc(30% - 20px);
        max-width: calc(18% - 20px);
        padding: 15px;
        text-align: center;
        border-radius: 10px;
        overflow: hidden;

        /* ajustando flex y max width cambio tamaño de cards */


        .img {
            width: 100%;
            height: auto;
            transition: transform 0.3s ease-in-out;
            object-fit: cover;
        }

        &:hover img {
            transform: scale(1.2);
        }
    }

    .col:nth-child(-n+3) {
        order: 1;
    }

    .col:nth-child(n+4) {
        order: 2;
    }
}

/* finalizan cards home */
/* INCONOS FIJOS REDES SOCIALES */
.iconos-fijos {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.iconos-fijos a {
    display: block;
    background-color: antiquewhite;
    color: var(--color-primario);
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    transition: all 0.3s ease;
}

.iconos-fijos a:hover {
    transform: scale(1.1);
    background-color: #000;
    color: #fff;
}

/* FINALIZAN ICONOS FIJOS REDES SOCIALES */


/* LETRA MAPA FOOTER */
h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-style: italic;
}

/* FIN LETRAS MAPA FOOTER */



/* boton de suscripcion */
.newsletter button {
    background-color: var(--color-terciario);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 95px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
}

/* finaliza boton de suscripcion */

/* PAGINA PRODUCTOS */
.productos {
    background: linear-gradient(to bottom, #17c3f3d8, #1aa6f7, #036be9);
}

/*ESTILOS CARROUSEL*/
.carousel-item img {
    max-width: 35%;
    height: auto;
    margin: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    /* Estilos para los íconos del carousel */
    background-color: var(--color-terciario);
    width: 40px;
    height: 40px;

}

/*FIN ESTILOS ICONOS CARROUSEL */

/* ESTILOS DE LISTADO DE PRODUCTOS*/

/* FINALIZA PAG PRODUCTOS */

/* FORMULARIO CONTACTO y PAGINA CONTACTO */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: var(--color-terciario);
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    input,
    textarea {
        width: 100%;
    }
}

.trabaja-con-nosotros {
    background-color: #f2f2f2;
    padding: 30px;
    text-align: center;
}

.trabaja-con-nosotros h3 {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}

.trabaja-con-nosotros p {
    font-size: 18px;
    margin-bottom: 10px;
}

.trabaja-con-nosotros a {
    display: inline-block;
    font-size: 18px;
    color: var(--color-primario);
    text-decoration: none;
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .trabaja-con-nosotros {
        padding: 20px;
    }
}

/* FINALIZA FORMULARIO CONTACTO */

/*DATOS DE CONTACTO*/
.contact-section {
    text-align: center;
}

.contact-item {
    display: flex;
    align-items: center, justify;
    justify-content: center;
    margin-bottom: 10px;
}

.contact-item i {
    margin-right: 10px;
    font-size: 20px;
}

.contact-item span {
    font-size: 16px;
    text-align: left;
}

/*FINALIZA DATOS DE CONTACTO*/

/* INICIA FOOTER */
footer {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primario);
    padding: 30px;
}

.subir {
    height: 30px;
    width: 30px;
    background-color: var(--color-terciario);
    position: fixed;
    right: 10px;
    bottom: 40px;
    color: antiquewhite;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}

/* FINALIZA FOOTER */


/* PAGINA EQUIPO */
.team-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
}

.team-card {
    flex-basis: calc(50% - 10px);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.team-card img {
    width: 100%;
    height: auto;
}

.description {
    width: 100%;
    text-align: center;
}

.description p {
    text-align: center;
    margin: 45px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
}

/* FINALIZA ESTILO PAGINA EQUIPO */

/*ZONAS*/

.coverage-table {
    width: 100%;
    border-collapse: collapse;
}

.coverage-table th,
.coverage-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.coverage-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.coverage-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.coverage-table tbody tr:hover {
    background-color: #eaeaea;
}

.distribucion-zonas {
    font-size: 18px;
    color: var(--color-secundario);
    text-align: center;

}

/*FIN PAGINA ZONAS*/



/*COMPRAR*/
.header-buscador-marco {
    height: 60px;
    border: 1px solid #CCCCCC;
    width: 100%;
    border-radius: 6px;
    display: flex;
    justify-content:space-between;
    align-items: center;  
    padding-left: 5px;
    padding-right: 15px;
}

.header-buscador-marco input{
    width: 90%;
    height: 30px;
    border: 0;
    color: var(--gris);
}

.header-buscador-marco input:focus{
    border: 0;
}

.iconos {
    display: flex;
    flex-direction: row;
}


/* Clases temporales para maquetación */
.h1200 {
    height: 1200px;
}
.h200 {
    height: 200px;
}
.h60 {
    height: 60px;
}

/* Producto */

.w-20 {
    width: 20%;
}
.w-60 {
    width: 60%;
}
.w-80 {
    width: 80%;
}
.h-150 {
    height: 150px;
}


.producto h4 {
    font-size: 1.5rem;
    color: #274092;
}

.precio {
    font-size: 2rem;
}

/* Carrito */
#iconoCarrito {
    font-size: 2rem;
}
#badgeCarrito {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    font-size: 0.7rem;
    background-color: #000 !important;
}

.offcanvas {
    margin-top: 95px;
    border-radius: 10px 0 0 0;
}

.main {
    margin-top: 100px;
}